<p>CATALOGO </p>

  <div class="card-container d-flex flex-wrap">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let item of catalogoData">
        <div class="card mx-2">
          <img class="card-img-top" src="../assets/png/9269766.png" alt="Card image cap" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{ item.titolo }}</h5>
            <p class="card-text">{{ item.autore }}</p>
            <a href="#" class="btn btn-primary">Dettagli</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
